
{#advanced-forum.naked.shadow-topic.tpl.php
* #}


{{ title }}<br />
{{ t('This topic has been moved to "!forum" ', {('!forum' : new_forum) }
(<a href="{{ new_forum_url }} )">{{ t('View topic') }} }}</a>)

