

{% if (new_posts) %}
<a name="new">
  {% endif %}

  {% if (icon_class is not empty) %}
  <span class="{{ icon_classnode_type }}{% endif %}{% endif %}">{{ icon_title }}</span>
  {% endif %}

  {% if (new_posts) %}
</a>
{% endif %}

