.navbar-dark .navbar-nav .nav-link {
  color: #FFFFFF !important;
}

footer.page-footer {
  a {
    color: #ADADAD !important;
  }
}

@media (min-width: 768px) {
  footer.page-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .sticky-nav-admin-env {
    top: 69px !important;
  }
}

.admin-menu {
  @media (min-width: 992px) {
    .environment-indicator-sticky-admin {
      top: 36px !important;
    }
  }
}
