// Variables
$basf: '../assets/fonts/HelveticaNeueLT';

// Colors
$basfblack: #333333;
$basflightgreen: #65AC1E;
$basfdarkgreen: #00793a;
$basflightblue: #21A0D2;
$basfdarkblue: #004A96;
$basflightgrey: #f0f0f0;
$basfdarkgrey: #6f6f6e;
$basforange: #f39500;
$basfyellow: #fdefd9;
$basfred: #C50022;
$basfapblack: #212F3D;

